@charset "UTF-8";

/* https://studiomeal.com/ */
* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 2px solid #000;
    background-color: #AAC8A7;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .item {
    border: 2px solid #000;
    background-color: #C9DBB2;
    width: 200px;  
    height: 200px;

}

.container {}

.container .item {}